@model IEnumerable<AugPServer.Models.AuthorModel>

@{
    ViewData["Title"] = "Authors";
}

<h1>MetaData</h1>

<h4>Step 2: Authors</h4>

<p>
    <div class="form-group">
        <a asp-action="AddAuthor" class="btn btn-light">Add new author</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affiliation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Affiliation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditAuthor", new { id = i }), 
                    @Html.ActionLink("Delete", "RemoveAuthor", new { id = i })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-10 mt-2">
    <a asp-action="MetaData" class="btn btn-outline-secondary">Back</a>
    <a asp-controller="ImageUpload" asp-action="ImageUpload" class="btn btn-outline-success">Next</a>
</div>
