@model IEnumerable<AugPServer.Models.ImageModel>

@{
    ViewData["Title"] = "Images";
}

<h1>Manage uploaded images</h1>
<h4>Step 4: Image list</h4>
<p>
    <div class="form-group">
        <a asp-action="EditAllImages" class="btn btn-light">Edit all</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlyphOutside)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlyphSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlyphPosition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++) {
            ImageModel item = Model.ElementAt(i);
            <tr>
                <td>
                    <img src="@item.Path"
                         style="max-height:100px;max-width:100px;"
                         asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        string outside = "No";
                        if (item.GlyphOutside == true)
                            outside = "Yes";
                    }
                    @outside
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlyphSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlyphPosition)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditImage", new { id = i })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-10 mt-2">
    <a asp-controller="ImageUpload" asp-action="ImageUpload" class="btn btn-outline-secondary">Back</a>
    <a asp-controller="Figure" asp-action="FigureList" class="btn btn-outline-success">Next</a>
</div>

<button type="button" class="removeButtonBg" onclick="confirmNewArticle()">Start a new article</button>
